* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* border: 1px solid #e2e8f0; */
}

html {
  font-size: 62.5%;
}

body {
  height: 100vh;
  width: 100vw;
  padding: 0 15vw;
}

#content {
  height: 100%;
}

/* main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  width: 100%;
} */

header {
  font-size: 1.8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* HEADER styles */
nav {
  /* max-width: 25%; */
  display: flex;
  gap: 2rem;
  height: 100%;
}

#homelink,
#menulink,
#contactlink {
  height: 100%;
  font-size: 2rem;
  font-weight: bold;
  padding: 1.4rem 2rem;
}

#homelink:hover,
#menulink:hover,
#contactlink:hover {
  cursor: pointer;
}

/* HOME styles */
.home {
  margin-top: 5rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.home > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2.5rem;
}

.home h2 {
  font-size: 3rem;
}

.home p {
  font-size: 1.8rem;
}

.welcome-img {
  width: 100%;
}
/* MENU styles */
.menu {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto repeat(3, 1fr);
  gap: 4rem;
  margin-top: 2rem;
}

.menu h2 {
  text-align: center;
  grid-column: 1 / -1;
  font-size: 4em;
  margin-bottom: 3rem;
}

.menu-item {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 20vw;
}

.menu-item h3 {
  font-size: 2.4rem;
}

.menu-item p {
  font-size: 2rem;
}

.menu-item h5 {
  font-size: 1.6rem;
}
