@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* border: 1px solid #e2e8f0; */
}

html {
  font-size: 62.5%;
  font-family: 'Josefin Sans', sans-serif;
}

body {
  height: 100vh;
  width: 100vw;
  padding: 0 15vw;
}

#content {
  height: 100%;
}

/* main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  width: 100%;
} */

header {
  font-size: 1.8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0;
}

header h1 {
  color: #ca8a04;
}

/* HEADER styles */
nav {
  /* max-width: 25%; */
  display: flex;
  gap: 2rem;
  height: 100%;
  color: #ca8a04;
}

#homelink,
#menulink,
#contactlink {
  height: 100%;
  font-size: 2rem;
  font-weight: bold;
  padding: 1.4rem 2rem;
}

#homelink:hover,
#menulink:hover,
#contactlink:hover {
  cursor: pointer;
}

/* HOME styles */
.home {
  margin-top: 5rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.home > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2.5rem;
}

.home > div h2 {
  font-size: 3rem;
  font-style: italic;
  width: 80%;
  border-bottom: 1px solid #ca8a04;
}

.home > div p {
  color: #a16207;
  line-height: 1.5;
}

.home h2 {
  font-size: 3rem;
}

.home p {
  font-size: 1.8rem;
}

.welcome-img {
  width: 100%;
}
/* MENU styles */
.menu {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto repeat(3, 1fr);
  gap: 4rem;
  margin-top: 2rem;
}

.menu h2 {
  text-align: center;
  grid-column: 1 / -1;
  font-size: 4em;
  margin-bottom: 3rem;
}

.menu-item {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 25vw;
}

.menu-item h3 {
  font-size: 2.4rem;
  font-style: italic;
  border-bottom: 2px solid #ca8a04;
}

.menu-item p {
  font-size: 2rem;
  color: #a16207;
  line-height: 1.2;
}

.menu-item h5 {
  font-size: 1.6rem;
  color: #ca8a04;
}

/* CONTACTS styles */
.contacts {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 1fr;
  gap: 5rem;
  align-items: center;
}

.contacts h2 {
  font-size: 3rem;
  grid-column: 1 / -1;
}

.contacts div {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 50%;

  font-size: 1.8rem;
  color: #a16207;
}

.contact-info {
  display: flex;
}

.contacts div img {
  width: 20rem;
  height: 20rem;
}
